h1 {
  margin: 0 auto;
  display: flex;
  justify-self: center;
  align-self: center;
  font-size: 100px;
  word-spacing: 25px;
  padding: 30px;
}

#message {
  width: 90%;
  text-align: center;
  margin: 0 auto;
  margin-top: 8%;
  padding-bottom: 10%;
  font-size: 20px;
  letter-spacing: 2.5px;
  word-spacing: 15px;
  line-height: 35px;
}

@media (max-width: 768px) {
  h1 {
    margin-top: 40px;
    font-size: 30px;
    text-align: center;
  }
  #message {
    width: 90%;
    font-size: 12px;
    letter-spacing: 1.5px;
    word-spacing: 10px;
    line-height: 20px;
    margin-top: 10%;
    padding-bottom: 10%;
  }
}
