@use "../../../variables.scss" as globalVars;

#chordsHandbook-container {
  margin-top: 5%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  #information {
    width: 35%;
    display: flex;
    flex-direction: column;
    #sectionTitle {
      text-align: left;
      font-size: 40px;
    }
    #message {
      width: 100%;
      margin: 0 auto;
      font-size: 20px;
      font-weight: 300;
      line-height: 30px;
      text-align: left;
      padding: 10px 0;
    }
  }

  #chordsSection {
    margin-top: 5%;
    width: 50%;
    #formSection {
      width: 100%;
      margin-top: 50px;

      #inputSection {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        .input {
          width: 30%;
          margin: 0px 20px;
        }
      }
    }
    #separation {
      margin-top: 25px;
      margin-bottom: 25px;
      height: 8px;
      background-color: globalVars.$secondary-color;
      border-radius: 60%;
    }

    #buttonsSection {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      #getAllFormsChord,
      #addNewChord {
        margin: 20px;
      }
    }
  }
}
