#chordsHandbook-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 5%;
  #handbookColumn {
    padding-left: 5%;
    width: 40%;
    display: flex;
    flex-direction: column;
    #sectionTitle {
      text-align: left;
      font-size: 40px;
    }
    #message {
      width: 100%;
      text-align: left;
      margin: 0 auto;
      margin-top: 1%;
      margin-bottom: 1%;
      font-size: 20px;
      letter-spacing: 3.5px;
      word-spacing: 20px;
      line-height: 40px;
    }
    #handbookChords {
      margin-top: 5%;
    }

    #formSection {
      width: 100%;
      margin-top: 50px;

      #inputSection {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        .input {
          width: 50%;
          margin: 0px 20px;
        }
      }
    }

    #buttonsSection {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      #getAllFormsChord,
      #addNewChord {
        width: 50%;
        margin: 20px;
      }
    }
  }

  #currentChordsColumn {
    width: 50%;
    h3 {
      text-align: left;
      font-size: 40px;
      color: rgba(0, 0, 0, 0.463);
    }
  }
}
@media (max-width: 768px) {
  #chordsHandbook-container {
    margin-top: 5%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    #handbookColumn {
      width: 90%;
      margin: 0 auto;
      padding-left: 0%;
      #sectionTitle {
        text-align: left;
        font-size: 30px;
      }
      #message {
        font-size: 12px;
        letter-spacing: 1.5px;
        word-spacing: 10px;
        line-height: 20px;
      }
      #formSection {
        margin-top: 15px;
        #inputSection {
          width: 90%;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          margin: 0 auto;
          font-size: 12px;
        }
        #buttonsSection {
          width: 90%;
          margin: 0 auto;
          app-submit-button {
            margin-top: 0px;
          }
        }
      }
    }
    #currentChordsColumn {
      width: 90%;
      h3 {
        text-align: left;
        font-size: 30px;
        color: rgba(0, 0, 0, 0.463);
      }
    }
  }
}
