<form id="chordsHandbook-container">
  <section id="information">
    <h2 id="sectionTitle">{{ 'handbook_title' | translate }}</h2>

    <span id="message">{{ 'handbook_description' | translate }}</span>
  </section>
  <section id="chordsSection">
    <app-chords-grid></app-chords-grid>
    <form id="formSection" [formGroup]="chordRequestForm">
      <div id="inputSection">
        <app-input-selector
          class="input"
          [name]="'note'"
          [selection]="chordRequestForm.controls['note']"
          [placeholder]="'progression_prompt' | translate"
          [options]="notes"
        ></app-input-selector>
        <app-input-selector
          class="input"
          [selection]="chordRequestForm.controls['form']"
          [name]="'form'"
          [options]="forms"
        ></app-input-selector>
      </div>

      <div id="buttonsSection">
        <app-submit-button
          (click)="getAllFormsChord()"
          id="getAllFormsChord"
          [disabled]="loading || chordRequestForm.controls['note'].invalid || chordRequestForm.controls['form'].invalid"
          [label]="'handbook_get_chords' | translate"
          [icon]="'search'"
        ></app-submit-button>
        <app-submit-button
          (click)="addNewChord()"
          id="addNewChord"
          [icon]="'add'"
          [disabled]="handbookChordSelected < 0 || loading"
          [label]="'handbook_add_chord' | translate"
        ></app-submit-button>
      </div>
    </form>
  </section>
</form>
