@use '../../../variables.scss' as globalVars;

.chordGrid,
.alternativeChordsGrid,
.handbookChordsGrid {
  .chords,
  .alternativeChords,
  .handbookChords {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;

    .selected {
      border: 2px solid globalVars.$primary-color !important;
    }
  }
}
#separation {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  height: 8px;
  background-color: globalVars.$secondary-color;
  border-radius: 60%;
}

#spinner {
  margin: 0 auto;
  display: flex;
  justify-self: center;
  align-self: center;
  margin: 100px 0;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.chords.cdk-drop-list-dragging .chord:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
