<div
  id="chordGrid"
  (cdkDropListDropped)="drop($event)"
  cdkDropList
  cdkDropListOrientation="mixed"
>
  <div id="chords">
    @for (chord of chords; track trackById(chordIndex, chord); let chordIndex =
    $index) {
    <div
      id="chord"
      cdkDrag
      [ngClass]="{ selected: chordIndex === chordSelected }"
    >
      <div id="header">
        <span class="deleteButton" (click)="deleteChord(chordIndex)">X</span>
        @if(chord.name) {
        <span id="chordName">{{ chord.name }}</span
        >}
      </div>

      <div class="chordStructure" (click)="selectChord(chordIndex)">
        @for (note of chord.notes; track $index) {
        <span id="chordFigure">
          <span id="stringNumber">{{ note.stringNumber }}th</span> -
          <span id="notePosition">{{ note.position }}</span> -
          <span id="noteName">{{ note.name }}</span>
          @if (selection === 'guesser') {
          <button (click)="removeNote($index, chordIndex)">X</button>
          }
          <br /></span
        >}
      </div>
      <button id="soundChord" (click)="makeChordSound(chord); (chord)">
        SOUND
      </button>
    </div>
    } @if (selection === 'guesser') {
    <div id="newChordButton" (click)="addNewChord()">
      <h2>+</h2>
    </div>
    }
  </div>
</div>
