@use '../../../variables.scss' as globalVars;

.chordGrid,
.alternativeChordsGrid,
.handbookChordsGrid {
  .chords,
  .alternativeChords,
  .handbookChords {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;

    .selected {
      border: 2px solid globalVars.$primary-color !important;
    }
    .newChordButton {
      margin: 10px;
      border: 2px solid grey;
      padding: 20px;
      border-radius: 10px;
      width: 200px;
      height: 340px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      h2 {
        font-size: 100px;
      }
    }
  }
}
#separation {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  height: 8px;
  background-color: globalVars.$secondary-color;
  border-radius: 60%;
}
.chord,
.alternativeChord,
.handbookChord {
  transition: 0.5s color;
  margin: 10px;
  border: 2px solid globalVars.$secondary-color;
  padding: 20px;
  border-radius: 10px;
  min-height: 150px;
  width: 200px;
  max-height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: globalVars.$secondary-color;

  .header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    .deleteButton {
      cursor: pointer;
    }
    .chordName {
      font-size: 22px;
      font-weight: 900;
    }
  }

  .chordStructure {
    margin: 10px 0 10px;
    cursor: pointer;
    width: 100%;

    .chordFigure {
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 10px 0 10px 0;
      span {
        margin-left: 10px;
        margin-right: 10px;
      }
      .removeNote {
        background-color: globalVars.$warning-color;
        color: white;
        cursor: pointer;
        padding: 5px;
        width: 15px;
        border-radius: 10px;
        text-align: center;
        transition: 1s;
      }
      .removeNote:hover {
        background-color: rgba(159, 3, 3, 0.589);
      }
    }
  }

  .soundIcon {
    transition: 0.5s;
    cursor: pointer;
    margin: 0 auto;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid globalVars.$secondary-color;
  }
  .soundIcon:hover {
    background-color: globalVars.$secondary-color;
    border: 2px solid globalVars.$secondary-color;
  }
  mat-icon {
    color: rgba(0, 115, 125, 1) !important;
  }
  mat-icon:hover {
    color: white !important;
  }
}
.selected {
  transition: color 0.5s;
  color: globalVars.$primary-color;
  .soundIcon {
    transition: 0.5s;
    border: 2px solid globalVars.$primary-color;
  }
  .soundIcon:hover {
    background-color: globalVars.$primary-color;
    color: white;
    border: 2px solid globalVars.$primary-color;
  }
}
#spinner {
  margin: 0 auto;
  display: flex;
  justify-self: center;
  align-self: center;
  margin: 100px 0;
}
.cdk-drag-preview {
  @extend .chord;
  box-shadow:
    0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
  max-width: 200px;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.chords.cdk-drop-list-dragging .chord:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
