@let chordsState = chordsStore | async;

<form id="chordsOptions-container">
  <section id="optionsColumn">
    <h2 id="sectionTitle">{{ 'exchanger_title' | translate }}</h2>
    <span id="message">{{ 'exchanger_description' | translate }}</span>
    <app-chords-grid id="optionsChords"></app-chords-grid>
    <div id="buttonsSection">
      <app-submit-button
        (click)="!chordsState?.loading && getOtherOptions()"
        id="getOtherOptionsButton"
        [disabled]="chordsState?.loading ?? false"
        [label]="'other_options_button' | translate"
        [icon]="'search'"
      ></app-submit-button>
      <app-submit-button
        (click)="checkExchangeChordIsAvailable(chordsState) && exchangeChords()"
        id="exchangeButton"
        [icon]="'cached'"
        [disabled]="!checkExchangeChordIsAvailable(chordsState)"
        [label]="'exchanger_button' | translate"
      ></app-submit-button>
    </div>
  </section>
  <section id="chordsSection">
    <h3>{{ 'my_chords' | translate }}</h3>
    <app-chords-grid [forceOnlyCurrentChordsToBeShown]="true"></app-chords-grid>
  </section>
</form>
