@use '../../../variables.scss' as globalVars;
#fretboard {
  border-top: 1px solid;
  display: flex;
  flex-direction: column;
  max-width: 90%;
  margin: 0 auto;
  overflow-x: scroll;
  position: relative;
  margin-top: 50px;
  .dot {
    position: absolute;
    width: 25px;
    height: 25px;
  }
  .stringBoard {
    width: 2000px;
    display: flex;
    flex-direction: row;
    .fret {
      position: relative;
      border-left: 5px solid rgb(102, 102, 102);
      min-width: 100px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      .noteName {
        margin-bottom: 15px;
        color: rgba(0, 0, 0, 0.515);
        font-size: 12px;
      }
      .selected {
        display: flex;
        background-color: globalVars.$primary-color;
        width: 25px;
        padding: 5px;
        border-radius: 10px;
        color: white;
        justify-content: center;
      }
      .stringLine {
        width: 100%;
        position: absolute;
        height: 2px;
        background-color: rgba(0, 0, 0, 0.064);
      }
    }
    .fret:first-of-type {
      min-width: 40px;
      background-color: rgba(0, 0, 0, 0.462);
      .noteName {
        color: white;
      }
    }
  }
  .positions {
    display: flex;
    flex-direction: row;

    width: 2000px;

    .fretPosition {
      position: relative;

      border-top: 2px solid rgb(59, 42, 5);

      display: flex;
      min-width: 105px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .fretPosition:first-of-type {
      min-width: 45px;
    }
  }
}
@media (max-width: 768px) {
  #fretboard {
    .dot {
      width: 12.5px;
      height: 12.5px;
    }
    .stringBoard {
      width: 1000px;

      .fret {
        border-left: 2.5px solid rgb(102, 102, 102);
        min-width: 50px;
        height: 25px;

        .noteName {
          margin-bottom: 7.5px;
          font-size: 6px;
        }
        .selected {
          width: 12.5px;
          padding: 2.5px;
          border-radius: 5px;
        }
        .stringLine {
          height: 1px;
        }
      }
      .fret:first-of-type {
        min-width: 20px;
      }
    }
    .positions {
      width: 1000px;

      .fretPosition {
        border-top: 1px solid rgb(59, 42, 5);
        min-width: 52.5px;
        font-size: 10px;
      }
      .fretPosition:first-of-type {
        min-width: 22.5px;
      }
    }
  }
}
