<div id="fretboard">
  <img
    *ngFor="let dot of currentDots"
    class="dot"
    [src]="dot.src"
    alt="dot"
    [style.left]="dot.left"
    [style.top]="dot.top"
  />
  <div class="stringBoard" *ngFor="let string of currentFretboard">
    <div class="fret" (click)="selectNote(note)" *ngFor="let note of string">
      <span
        class="noteName"
        [ngClass]="{ selected: isThisNoteSelected(note) }"
        >{{ note.name }}</span
      >
      <hr class="stringLine" />
    </div>
  </div>
  <div class="positions">
    <div *ngFor="let item of currentFretboard[0]" class="fretPosition">
      <span>
        {{ item.position }}
      </span>
    </div>
  </div>
</div>
