<div class="button-container">
  <button
    mat-fab
    extended
    (click)="selectOption('guesser')"
    [routerLink]="'guesser'"
  >
    {{ "guesser_title" | translate }} <mat-icon>local_library</mat-icon>
  </button>
  <button
    mat-fab
    extended
    (click)="selectOption('handbook')"
    [routerLink]="'handbook'"
  >
    {{ "handbook_title" | translate }} <mat-icon>book</mat-icon>
  </button>
  <button
    [routerLink]="'options'"
    mat-fab
    extended
    (click)="selectOption('options')"
    [disabled]="!chordsAreGuessed(chords)"
    [routerLink]="'options'"
  >
    {{ "exchanger_title" | translate }} <mat-icon>auto_stories</mat-icon>
  </button>
  <button
    mat-fab
    extended
    (click)="selectOption('progression')"
    [routerLink]="'progression'"
    [disabled]="
      chords.length < minimumChordsToMakeProgression ||
      !validChords(chords) ||
      !chordsAreGuessed(chords)
    "
  >
    {{ "progression_title" | translate }} <mat-icon>auto_fix_normal</mat-icon>
  </button>
</div>
