.button-container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin-top: 50px;
  padding: 50px;
  button {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .button-container {
    display: flex;
    flex-wrap: wrap;

    width: 100%;
    justify-content: center;
    margin: 0 auto;
    padding: 0;

    button {
      font-size: 12px;
      width: 130px;
      margin: 10px;
    }
  }
}
