<div class="button-container">
  <button mat-fab extended (click)="selectOption('guesser')">
    Chords Guesser
    <mat-icon>local_library</mat-icon>
  </button>

  <button
    mat-fab
    extended
    (click)="selectOption('progression')"
    [disabled]="chords.length === 0"
  >
    Chords Progression <mat-icon>auto_fix_normal</mat-icon>
  </button>
</div>
@if (chords.length <= 1) {
<div id="message">
  you cannot access to the chords progresion right now, first you need to set at
  least two chords in the guesser
</div>
}
