.button-container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin-top: 50px;
  padding: 50px;
  button {
    font-size: 20px;
  }
}
