<div class="button-container">
  <button mat-fab extended (click)="selectOption('guesser')">
    {{ "guesser_title" | translate }} <mat-icon>local_library</mat-icon>
  </button>
  <button
    mat-fab
    extended
    (click)="selectOption('options')"
    [disabled]="!chordsAreGuessed(chords)"
  >
    {{ "exchanger_title" | translate }} <mat-icon>auto_stories</mat-icon>
  </button>
  <button
    mat-fab
    extended
    (click)="selectOption('progression')"
    [disabled]="
      chords.length < minimumChordsToMakeProgression ||
      !validChords(chords) ||
      !chordsAreGuessed(chords)
    "
  >
    {{ "progression_title" | translate }} <mat-icon>auto_fix_normal</mat-icon>
  </button>
</div>
@if ( chords.length < minimumChordsToMakeProgression || !validChords(chords) ||
!chordsAreGuessed(chords)) {
<div id="message">
  {{ "forbidden_message_no_chords" | translate }}
</div>
}
