#chordProgression {
  margin: 0 auto;
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  #information {
    width: 40%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    #sectionTitle {
      text-align: left;
      font-size: 40px;
    }

    .message {
      width: 100%;
      text-align: left;
      margin: 0 auto;
      margin-top: 1%;
      margin-bottom: 1%;
      font-size: 20px;
      letter-spacing: 3.5px;
      word-spacing: 20px;
      line-height: 40px;
    }
    #promptSection {
      margin-top: 2%;

      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      app-input-instruction {
        width: 100%;
      }
      app-submit-button {
        margin-top: -40px !important;
        margin-left: 20px;
        width: 40%;
      }
    }
  }
  #chordSection {
    width: 50%;
    h3 {
      text-align: left;
      font-size: 40px;
      color: rgba(0, 0, 0, 0.463);
    }
    app-chords-grid {
      padding: 0 0 50px;
    }
  }
}
