#chordProgression {
  margin: 0 auto;
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  #information {
    width: 40%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    #sectionTitle {
      text-align: left;
      font-size: 40px;
    }

    .message {
      width: 100%;
      text-align: left;
      margin: 0 auto;
      margin-top: 1%;
      margin-bottom: 1%;
      font-size: 20px;
      letter-spacing: 3.5px;
      word-spacing: 20px;
      line-height: 40px;
    }
    #promptSection {
      margin-top: 5%;

      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      app-input-instruction {
        width: 100%;
      }
      app-submit-button {
        margin-top: -40px !important;
        margin-left: 20px;
        width: 40%;
      }
    }
  }
  #chordSection {
    width: 50%;
    h3 {
      text-align: left;
      font-size: 40px;
      color: rgba(0, 0, 0, 0.463);
    }
    app-chords-grid {
      padding: 0 0 50px;
    }
  }
}
@media (max-width: 768px) {
  #chordProgression {
    margin-top: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #information {
      width: 90%;
      margin: 0 auto;
      padding-left: 0%;
      #sectionTitle {
        text-align: left;
        font-size: 30px;
      }
      .message {
        font-size: 12px;
        letter-spacing: 1.5px;
        word-spacing: 10px;
        line-height: 20px;
      }
      #promptSection {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 90%;
        margin: 0 auto;
        margin-top: 7%;
        app-input-instruction {
          width: 100%;
        }
        app-submit-button {
          margin-top: 0px !important;
          margin-left: 0px;
          width: 100%;
        }
      }
    }
    #chordSection {
      width: 90%;
      justify-content: center;
      h3 {
        text-align: left;
        font-size: 30px;
        color: rgba(0, 0, 0, 0.463);
      }
      #submitButton {
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 5%;
      }
    }
  }
}
