#chordProgression {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  #sectionTitle {
    font-size: 40px;
    margin: 0 auto;
  }

  .message {
    width: 75% !important;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    padding: 50px 0;
  }
  app-chords-grid {
    padding: 0 0 50px;
  }
  #promptSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    app-input-instruction {
      width: 60%;
    }
    app-submit-button {
      margin-left: 20px;
      width: 10%;
    }
  }
}
