<div id="chordProgression">
  <app-chords-grid></app-chords-grid>
  @if(message){<span id="message">{{ message }}</span
  >}
  <form id="promptSection" [formGroup]="progressionForm">
    <app-input-instruction
      [name]="'prompt'"
      [instruction]="progressionForm.controls['prompt']"
      [placeholder]="'Give me more information about your progression...'"
    ></app-input-instruction>
    <app-submit-button
      [disabled]="progressionForm.invalid"
      [label]="'Show Me!'"
      [type]="'submit'"
      (click)="askNewChordProgression()"
    ></app-submit-button>
  </form>
</div>
