<div id="chordProgression">
  <h2 id="sectionTitle">{{ "progression_title" | translate }}</h2>

  @if(message){<span class="message">{{ message }}</span
  >} @else {
  <span class="message">{{ "progression_description" | translate }}</span>
  }
  <app-chords-grid [chordOptionsDisplay]="false"></app-chords-grid>

  <form id="promptSection" [formGroup]="progressionForm">
    <app-input-instruction
      [disabled]="loading"
      [name]="'prompt'"
      [instruction]="progressionForm.controls['prompt']"
      [placeholder]="'progression_prompt' | translate"
    ></app-input-instruction>
    <app-submit-button
      [loading]="loading"
      [disabled]="progressionForm.invalid || loading"
      [label]="'progression_button' | translate"
      [type]="'submit'"
      [icon]="'auto_awesome'"
      (click)="askNewChordProgression()"
    ></app-submit-button>
  </form>
</div>
