@let chordsState = chordsStore | async;
<div id="chordProgression">
  <section id="information"></section>
  <h2 id="sectionTitle">{{ 'progression_title' | translate }}</h2>

  @if (chordsState?.message) {
    <span class="message">{{ chordsState?.message }}</span>
  } @else {
    <span class="message">{{ 'progression_description' | translate }}</span>
  }
  <section id="chordSection">
    <app-chords-grid></app-chords-grid>
    <form id="promptSection" [formGroup]="progressionForm">
      <app-input-instruction
        [disabled]="chordsState?.loading ?? false"
        [name]="'prompt'"
        [instruction]="progressionForm.controls['prompt']"
        [placeholder]="'progression_prompt' | translate"
      ></app-input-instruction>
      <app-submit-button
        id="getProgressionButton"
        [loading]="chordsState?.loading ?? false"
        [disabled]="!enableSubmitButton(chordsState)"
        [label]="'progression_button' | translate"
        [type]="'submit'"
        [icon]="'auto_awesome'"
        (click)="enableSubmitButton(chordsState) && askNewChordProgression()"
      ></app-submit-button>
    </form>
  </section>
</div>
