<form id="chordsOptions-container">
  <h2 id="sectionTitle">{{ "exchanger_title" | translate }}</h2>

  <span id="message">{{ "exchanger_description" | translate }}</span>

  <app-chords-grid [chordOptionsDisplay]="true"></app-chords-grid>

  <div id="buttonsSection">
    <app-submit-button
      (click)="getOtherOptions()"
      id="getOtherOptionsButton"
      [disabled]="chords.length === 0 || loading"
      [label]="'other_options_button' | translate"
      [icon]="'search'"
    ></app-submit-button>
    <app-submit-button
      (click)="exchangeChords()"
      id="exchangeButton"
      [icon]="'cached'"
      [disabled]="
        chordSelected < 0 ||
        alternativeChordSelected < 0 ||
        alternativeChords.length === 0 ||
        chords.length === 0 ||
        loading
      "
      [label]="'exchanger_button' | translate"
    ></app-submit-button>
  </div>
</form>
