@use "../../../variables.scss" as globalVars;

#chordsOptions-container {
  margin-top: 5%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  #information {
    width: 35%;
    display: flex;
    flex-direction: column;
    #sectionTitle {
      text-align: left;
      font-size: 40px;
    }
    #message {
      width: 100%;
      margin: 0 auto;
      font-size: 20px;
      font-weight: 300;
      line-height: 30px;
      text-align: left;
      padding: 10px 0;
    }
  }
  #chordsSection {
    width: 50%;

    #buttonsSection {
      display: flex;
      flex-direction: row;
      justify-content: center;
      #getOtherOptionsButton,
      #exchangeButton {
        margin: 20px;
      }
    }
  }
}
