@use '../../../variables.scss' as globalVars;

#chordsOptions-container {
  margin-top: 5%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  #optionsColumn {
    padding-left: 5%;

    width: 40%;
    display: flex;
    flex-direction: column;
    #sectionTitle {
      text-align: left;
      font-size: 40px;
    }
    #message {
      width: 100%;
      text-align: left;
      margin: 0 auto;
      margin-top: 1%;
      margin-bottom: 1%;
      font-size: 20px;
      letter-spacing: 3.5px;
      word-spacing: 20px;
      line-height: 40px;
    }
    #optionsChords {
      margin-top: 2%;
    }
    #buttonsSection {
      display: flex;
      flex-direction: row;
      justify-content: center;
      #getOtherOptionsButton,
      #exchangeButton {
        margin: 20px;
      }
    }
  }
  #chordsSection {
    width: 50%;
    h3 {
      text-align: left;
      font-size: 40px;
      color: rgba(0, 0, 0, 0.463);
    }
  }
}
