<form id="chordsOptions-container">
  <h2 id="sectionTitle">Chords Changer</h2>

  <app-chords-grid [chordOptionsDisplay]="true"></app-chords-grid>

  <div id="buttonsSection">
    <app-submit-button
      (click)="getOtherOptions()"
      id="getOtherOptionsButton"
      [disabled]="chords.length === 0 || loading"
      [label]="'Show Me!'"
      [icon]="'search'"
    ></app-submit-button>
    <app-submit-button
      (click)="exchangeChords()"
      id="exchangeButton"
      [icon]="'cached'"
      [disabled]="
        chordSelected < 0 ||
        alternativeChordSelected < 0 ||
        alternativeChords.length === 0 ||
        chords.length === 0 ||
        loading
      "
      [label]="'Exchange Chords!'"
    ></app-submit-button>
  </div>
</form>
