h1 {
  margin: 0 auto;
  display: flex;
  justify-self: center;
  align-self: center;
  font-size: 100px;
  word-spacing: 25px;
  padding: 30px;
}
#goBackButton {
  margin: 1%;
  margin-left: 5%;
}
#message {
  width: 90%;
  text-align: center;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 100px;
  font-size: 20px;
  letter-spacing: 2.5px;
  word-spacing: 15px;
  line-height: 35px;
}
