h1 {
  margin: 0 auto;
  display: flex;
  justify-self: center;
  align-self: center;
  font-size: 100px;
  word-spacing: 25px;
  padding: 30px;
}

#message {
  width: 90%;
  text-align: center;
  margin: 0 auto;
  margin-top: 1%;
  margin-bottom: 1%;
  font-size: 20px;
  letter-spacing: 2.5px;
  word-spacing: 15px;
  line-height: 35px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 60px;
    text-align: center;
  }
  #message {
    width: 90%;
    margin: 0 auto;
    font-size: 16px;
  }
}
