h1 {
  margin: 0 auto;
  display: flex;
  justify-self: center;
  align-self: center;
  font-size: 100px;
  word-spacing: 25px;
  padding: 30px;
}
#goBackButton {
  margin: 3%;
}
#selectionZone {
  display: flex;
  flex-direction: column;
}
