.button-container {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  #button {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly !important;
    align-items: center;
    .label {
      width: 100px;
    }
    #spinner {
      width: 20px !important;
      height: 20px !important;
      align-self: center;
    }
    mdc-button__label {
      width: 100%;
    }
    ::ng-deep span {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
    }
  }
  #button:hover {
    background-color: rgb(5, 75, 81);
    transition: 0.1s;
    color: white;
  }
}
@media (max-width: 768px) {
  .button-container {
    margin-top: 0px;
    font-size: 12px;
  }
}
