@let chordsState = chordsStore | async;
<form id="chordGuesser-container">
  <section id="informationColumn">
    <h2 id="sectionTitle">{{ 'guesser_title' | translate }}</h2>
    @if (chordsState?.message) {
      <span id="message">{{ chordsState?.message }}</span>
    } @else {
      <span id="message">{{ 'guesser_description' | translate }}</span>
    }
  </section>
  <section id="chordsSection">
    <h3>{{ 'my_chords' | translate }}</h3>

    <app-chords-grid id="guesserChords"></app-chords-grid>

    <app-submit-button
      (click)="minimumChordsStatus && guessMyChords()"
      id="submitButton"
      [loading]="chordsState?.loading ?? false"
      [disabled]="!minimumChordsStatus"
      [label]="'guesser_button' | translate"
    ></app-submit-button>
  </section>
</form>
