@let chordsState = chordsStore | async;
<form id="chordGuesser-container">
  <section id="information">
    <h2 id="sectionTitle">{{ 'guesser_title' | translate }}</h2>
    @if (chordsState?.message) {
      <span id="message">{{ chordsState?.message }}</span>
    } @else {
      <span id="message">{{ 'guesser_description' | translate }}</span>
    }
  </section>
  <section id="chordsSection">
    <app-chords-grid></app-chords-grid>

    <app-submit-button
      (click)="enableSubmitButton(chordsState) && guessMyChords()"
      id="submitButton"
      [loading]="chordsState?.loading ?? false"
      [disabled]="!enableSubmitButton(chordsState)"
      [label]="'guesser_button' | translate"
    ></app-submit-button>
  </section>
</form>
