#chordGuesser-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  #sectionTitle {
    font-size: 40px;
  }
  #message {
    width: 75%;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    padding: 50px 0;
  }
  #chords {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    max-width: 90%;
    margin: 0 auto;
  }
  #submitButton {
    margin: 0 auto;
    margin-top: 30px;
  }
}
