#chordGuesser-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 5%;
  #informationColumn {
    padding-left: 5%;
    width: 40%;
    display: flex;
    flex-direction: column;
    #sectionTitle {
      text-align: left;
      font-size: 40px;
    }
    #message {
      text-align: left;
      margin: 0 auto;
      margin-top: 1%;
      margin-bottom: 1%;
      font-size: 20px;
      letter-spacing: 3.5px;
      word-spacing: 20px;
      line-height: 40px;
    }
  }
  #chordsSection {
    width: 50%;
    display: flex;
    flex-direction: column;
    h3 {
      text-align: left;
      font-size: 40px;
      color: rgba(0, 0, 0, 0.463);
    }
    #submitButton {
      margin: 0 auto;
      margin-top: 30px;
      margin-bottom: 5%;
      width: 30%;
    }
  }
}
@media (max-width: 768px) {
  #chordGuesser-container {
    margin-top: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #informationColumn {
      width: 90%;
      margin: 0 auto;
      padding-left: 0%;

      #sectionTitle {
        text-align: left;
        font-size: 30px;
      }
      #message {
        font-size: 12px;
        letter-spacing: 1.5px;
        word-spacing: 10px;
        line-height: 20px;
      }
    }
    #chordsSection {
      width: 90%;
      justify-content: center;
      h3 {
        text-align: left;
        font-size: 30px;
        color: rgba(0, 0, 0, 0.463);
      }
      #submitButton {
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 5%;
      }
    }
  }
}
